<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mikolaj92.hermes.repo-issue-to-pr-dispatch</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/mini-m4-main/.hermes/scripts/repo_issue_to_pr_dispatch.sh</string>
    <string>--live</string>
    <string>--run-opencode</string>
  </array>
  <key>StartInterval</key>
  <integer>600</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>LimitLoadToSessionType</key>
  <string>Background</string>
  <key>AbandonProcessGroup</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HERMES_ISSUE_TO_PR_RUN_OPENCODE</key>
    <string>1</string>
    <key>HERMES_ISSUE_TO_PR_MAX_OMP_AGENTS</key>
    <string>3</string>
    <key>HERMES_ISSUE_TO_PR_OMP_MODEL</key>
    <string>omniroute/omp/default</string>
    <key>HERMES_ISSUE_TO_PR_OMP_THINKING</key>
    <string>medium</string>
    <key>HERMES_OMP_TIMEOUT_SECONDS</key>
    <string>1800</string>
</dict>
</dict>
</plist>
